<div class="container well">
  <h2>Upload file</h2>
  <div>
    Upload Prompt UUID: <%= prompt.uuid %>
    <%= link_to prompt, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger delete" do %>
      <i class="icon-trash icon-white"></i>
      <span>Delete Prompt and all files in it</span>
    <% end %>
  </div><br/>
  <%= form_for prompt.uploads.build, html: { multipart: true, class: "fileupload", id: "upload_for_prompt_#{prompt.id}", data: { uploads_url: prompt_uploads_path(prompt) }  } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <%= f.file_field :upload %>
          <%= f.hidden_field :prompt_id, class: 'prompt_id' %>
        </span>
        <button type="submit" class="btn btn-primary start">
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="icon-ban-circle icon-white"></i>
          <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="icon-trash icon-white"></i>
          <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle">
        <!-- The loading indicator is shown during file processing -->
        <span class="fileupload-loading"></span>
      </div>
      <div class="span5 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
  <% end %>
</div>
